#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteBase /
#Rewritecond %{HTTP_HOST} ^(www\.)?jrlin\.net$ [nc]
#Rewriterule ^(.*)$ https://linjiarui.net/$1 [r=301,nc]
#
#Rewritecond %{HTTP_HOST} ^www\.linjiarui\.net$ [nc]
#Rewriterule ^(.*)$ https://linjiarui.net/$1 [r=301,nc]
#
#RewriteCond %{HTTP_HOST} ^(projects|teaching|cv|publications)\.linjiarui\.net$
#RewriteRule ^(.*)$ /%1/$1 [L, NC]
#</IfModule>

RewriteEngine on

#redirect old links
RewriteRule "^en/project/([-a-zA-Z0-9]{1,})$" "https://linjiarui.net/en/projects/$1" [R=301,NC]
RewriteRule "^en/publication/([-a-zA-Z0-9]{1,})$" "https://linjiarui.net/en/publications/$1" [R=301,NC]
RewriteRule "^project/([-a-zA-Z0-9]{1,})$" "https://linjiarui.net/projects/$1" [R=301,NC]
RewriteRule "^publication/([-a-zA-Z0-9]{1,})$" "https://linjiarui.net/publications/$1" [R=301,NC]

#fix for switching host from nodejs to apache
RewriteRule "^en/(resume)$" "en/$1.html"
RewriteRule "^(resume)$" "$1.html"
RewriteRule "^en/(projects|teaching|publications|talks|news|posts||portfolio)/([-a-zA-Z0-9]{1,})$" "en/$1/$2.html"
RewriteRule "^(projects|teaching|publications|talks|news|posts|portfolio)/([-a-zA-Z0-9]{1,})$" "$1/$2.html"

#redirect my site to _site folder
RewriteRule !^(_site/|ahk/) /_site%{REQUEST_URI} [L]