<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /
 
Rewritecond %{HTTP_HOST} ^(www\.)?jrlin\.net$ [nc]
Rewriterule ^(.*)$ https://linjiarui.net/$1 [r=301,nc]


Rewritecond %{HTTP_HOST} ^www\.linjiarui\.net$ [nc]
Rewriterule ^(.*)$ https://linjiarui.net/$1 [r=301,nc]


RewriteCond %{HTTP_HOST} ^(projects|teaching|cv|publications)\.linjiarui\.net$
RewriteRule ^(.*)$ /%1/$1 [L, NC]
</IfModule>