#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteBase /
#Rewritecond %{HTTP_HOST} ^(www\.)?jrlin\.net$ [nc]
#Rewriterule ^(.*)$ https://linjiarui.net/$1 [r=301,nc]
#
#Rewritecond %{HTTP_HOST} ^www\.linjiarui\.net$ [nc]
#Rewriterule ^(.*)$ https://linjiarui.net/$1 [r=301,nc]
#
#RewriteCond %{HTTP_HOST} ^(projects|teaching|cv|publications)\.linjiarui\.net$
#RewriteRule ^(.*)$ /%1/$1 [L, NC]
#</IfModule>

RewriteEngine on

#redirect my site to _site folder
RewriteRule !^(_site/|ahk/) /_site%{REQUEST_URI}
#the following don't work, not know why
#RewriteRule "^en/(projects|teaching|publications|talks|news|posts||portfolio|tags|categories|cv)/?" "/_site/en/$1/"
#RewriteRule "^en/(resume)$" "/_site/en/$1.html"
#RewriteRule "^(projects|teaching|publications|talks|news|posts||portfolio|tags|categories|cv)/?" "/_site/$1/"
#RewriteRule "^(resume)$" "/_site/$1.html"
#note with previous redirect folder rule, do not put ^ at the beginning of the following rules

#redirect old links
#RewriteRule "^en/project/([-a-zA-Z0-9]{1,})$" "https://linjiarui.net/en/projects/$1" [R=301,NC]
#RewriteRule "^en/publication/([-a-zA-Z0-9]{1,})$" "https://linjiarui.net/en/publications/$1" [R=301,NC]
#RewriteRule "^project/([-a-zA-Z0-9]{1,})$" "https://linjiarui.net/projects/$1" [R=301,NC]
#RewriteRule "^publication/([-a-zA-Z0-9]{1,})$" "https://linjiarui.net/publications/$1" [R=301,NC]

RewriteRule "en/project/([-a-zA-Z0-9]{1,})$" "https://linjiarui.net/en/projects/$1" [R=301,NC]
RewriteRule "en/publication/([-a-zA-Z0-9]{1,})$" "https://linjiarui.net/en/publications/$1" [R=301,NC]
RewriteRule "en/news/([-a-zA-Z0-9]{1,})$" "https://linjiarui.net/en/posts/$1" [R=301,NC]
RewriteRule "project/([-a-zA-Z0-9]{1,})$" "https://linjiarui.net/projects/$1" [R=301,NC]
RewriteRule "publication/([-a-zA-Z0-9]{1,})$" "https://linjiarui.net/publications/$1" [R=301,NC]
RewriteRule "news/([-a-zA-Z0-9]{1,})$" "https://linjiarui.net/posts/$1" [R=301,NC]

#fix for switching host from nodejs to apache
#RewriteRule "^en/(resume)$" "en/$1.html"
#RewriteRule "^(resume)$" "$1.html"
#RewriteRule "^en/(projects|teaching|publications|talks|news|posts||portfolio)/([-a-zA-Z0-9]{1,})$" "en/$1/$2.html"
#RewriteRule "^(projects|teaching|publications|talks|news|posts|portfolio)/([-a-zA-Z0-9]{1,})$" "$1/$2.html"

RewriteRule "en/(resume)$" "en/$1.html"
RewriteRule "(resume)$" "$1.html"

#fix issue caused by redirect folder? doesn't work...
#RewriteRule "en/(projects|teaching|publications|talks|news|posts||portfolio|tags|categories|cv)$" "en/$1/index.html"
#RewriteRule "(projects|teaching|publications|talks|news|posts|portfolio|tags|categories|cv)$" "$1/index.html"

RewriteRule "en/(projects|teaching|publications|talks|news|posts||portfolio)/([-a-zA-Z0-9]{1,})$" "en/$1/$2.html"
RewriteRule "(projects|teaching|publications|talks|news|posts|portfolio)/([-a-zA-Z0-9]{1,})$" "$1/$2.html"
