{% include base_path %}

{% assign lang = site.locale %}
{% if page.lang %}
{% assign lang = page.lang %}
{% endif %}

{% assign home_path = base_path %}
{% assign path_end = home_path | slice,-1,1 %}
{% if lang != site.locale %}
  {% if path_end != '/' %}
    {% assign home_path = home_path | append: '/' %}
  {% endif %}
  {% assign home_path = home_path | append: lang %}
{% endif %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ home_path }}/">{{ site.title[lang] }}</a></li>
          {%assign links=site.data.navigation[lang]%}
          {% for link in links %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          
          <div class="dropdown">
            <div class="dropbtn">{{ site.langSwitch[lang] }}</div>
            <div class="dropdown-content">
              {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
              {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ site.langNames[post.lang] }}</a> {% endfor %}
              
              {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
              {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ site.langNames[page.lang] }}</a> {% endfor %}
              
              {% assign posts=site.publications  | where:"ref", page.ref | sort: 'lang' %}
              {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ site.langNames[post.lang] }}</a> {% endfor %}
              
              {% assign posts=site.projects  | where:"ref", page.ref | sort: 'lang' %}
              {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ site.langNames[post.lang] }}</a> {% endfor %}
              
              {% assign posts=site.teaching  | where:"ref", page.ref | sort: 'lang' %}
              {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ site.langNames[post.lang] }}</a> {% endfor %}
              
              {% assign posts=site.talks  | where:"ref", page.ref | sort: 'lang' %}
              {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ site.langNames[post.lang] }}</a> {% endfor %}
              
              {% assign posts=site.portfolio  | where:"ref", page.ref | sort: 'lang' %}
              {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ site.langNames[post.lang] }}</a> {% endfor %}
            </div>
          </div>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>